<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<true/>
				<key>destructible</key>
				<false/>
				<key>throwable</key>
				<true/>
				<key>radiusScale</key>
				<integer>1</integer>
				<key>percentRight</key>
				<real>0.5</real>
				<key>percentBottom</key>
				<real>0.5</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
		</array>
		<key>title</key>
		<string>Level 1</string>
		<key>countdown</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<true/>
				<key>destructible</key>
				<false/>
				<key>throwable</key>
				<true/>
				<key>radiusScale</key>
				<integer>1</integer>
				<key>percentRight</key>
				<real>0.5</real>
				<key>percentBottom</key>
				<real>0.5</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.5</real>
				<key>percentRight</key>
				<real>0.5</real>
				<key>percentBottom</key>
				<real>0.5</real>
				<key>speedScale</key>
				<integer>100</integer>
				<key>direction</key>
				<integer>180</integer>
			</dict>
		</array>
		<key>title</key>
		<string>Level 2</string>
		<key>countdown</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.33</real>
				<key>percentRight</key>
				<real>0.33</real>
				<key>percentBottom</key>
				<real>0.66</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.33</real>
				<key>percentRight</key>
				<real>0.66</real>
				<key>percentBottom</key>
				<real>0.66</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.3</real>
				<key>percentRight</key>
				<real>0.5</real>
				<key>percentBottom</key>
				<real>0.33</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
		</array>
		<key>title</key>
		<string>Level 3</string>
		<key>countdown</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.33</real>
				<key>percentRight</key>
				<real>0.33</real>
				<key>percentBottom</key>
				<real>0.66</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.33</real>
				<key>percentRight</key>
				<real>0.66</real>
				<key>percentBottom</key>
				<real>0.66</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.3</real>
				<key>percentRight</key>
				<real>0.5</real>
				<key>percentBottom</key>
				<real>0.33</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.3</real>
				<key>percentRight</key>
				<real>0.2</real>
				<key>percentBottom</key>
				<real>0.2</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<true/>
				<key>radiusScale</key>
				<real>0.4</real>
				<key>percentRight</key>
				<real>0.8</real>
				<key>percentBottom</key>
				<real>0.2</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<false/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.3</real>
				<key>percentRight</key>
				<real>0.2</real>
				<key>percentBottom</key>
				<real>0.76</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<true/>
				<key>collidable</key>
				<true/>
				<key>destructible</key>
				<false/>
				<key>throwable</key>
				<true/>
				<key>radiusScale</key>
				<real>0.7</real>
				<key>percentRight</key>
				<real>0.5</real>
				<key>percentBottom</key>
				<real>0.34</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<true/>
				<key>destructible</key>
				<true/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.2</real>
				<key>percentRight</key>
				<real>0.7</real>
				<key>percentBottom</key>
				<real>0.1</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
			<dict>
				<key>clockwise</key>
				<true/>
				<key>applyForces</key>
				<false/>
				<key>collidable</key>
				<true/>
				<key>destructible</key>
				<false/>
				<key>throwable</key>
				<false/>
				<key>radiusScale</key>
				<real>0.1</real>
				<key>percentRight</key>
				<real>0.65</real>
				<key>percentBottom</key>
				<real>0.32</real>
				<key>speedScale</key>
				<real>0</real>
				<key>direction</key>
				<real>0</real>
			</dict>
		</array>
		<key>title</key>
		<string>Level 4</string>
		<key>countdown</key>
		<integer>20</integer>
	</dict>
</array>
</plist>
